.alert-error{
    background-color: rgb(241, 216, 216);
    border: 1px solid rgb(109, 4, 4);
}

header{
    padding: 30px;
    text-align: center;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

.container{
    
}

table{
    margin-top: 30px;
    background-color: lightgray;
    text-align: center;
}

ul{
    padding: 10px;
}

div.container{
    padding-top: 15px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;

}

.services{
    padding: 15px;

}

img{
    border: 4px solid black;
    margin: 15px;
    border-radius: 20px;
}

.size{
    
}

label{
    font-weight: bold;
}

.dogText{
    text-align: center;
}

.nav{
    background-color: rgb(231, 230, 230);
}

.textBanner{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    
}

.textInfo{
    font-size: 25px;
    font-weight: bold;
}

.textRandom{
    font-size: 20px;
}

.divAbout{
    background-color: rgb(231, 230, 230);
    width: 500px;
    margin-top: 50px;
}

.map{
    text-align: center;
}
