#pets{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 5px;

    
}
.petCard{
    background-color: lightblue;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
}

/* .registerTable{
    display: flex;
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
} */

.alert-error{
    border: 1px solid red;
}